<div class="container">
  <div class="broderie-page">
    <div class="broderie">
      <div class="image">
      <%= image_tag 'num.png', width: '100%;', class:'num'%>
      </div>
      <p>La broderie, c’est la transformation d’une image, texte, logo en points de broderie lus par la machine. Ainsi numérisé et lu par votre brodeuse, ce dessin, texte ou logo, peut être brodé sur le support de votre choix, moyennant quelques petites étapes supplémentaires.
       <br><br>
        On peut broder sur beaucoup de supports, tissu, simili cuir, laine, et même basquettes...certains sont plus difficiles que d’autres.</p>
    </div>
    <br><br>
    <div class="howto">
      <p>Je fourni un certain nombre d’articles à broder tels que T-Shirt, casquettes, vestes, linge de maison, articles pour bébés, etc.</p>
      <p>Toute demande de broderie ce fait sur devis. A titre indicatif voici mes <a href="https://docs.google.com/spreadsheets/d/17Mf9q_3oeu6lxXidBML1weni-Nxs3m6C/edit?rtpof=true&sd=true#gid=711076137">tarifs.</a></p>
      <div class="tarif">
        <ul>
          <li><p><i>Pour certains articles comme les casquettes, chaussettes ou certains vêtements pour bébés en toute petite taille qui nécessitent des cadres particuliers des frais de cadrage seront ajoutés à l'ensemble du devis quelque soit le nombre d’articles.</i></p></li>
        </ul>
        <!-- <video width='350px' height='600px'controls autoplay muted>
          <source src="/assets/IMG_2890.mp4"/>Your browser does not support the video tag.
        </video> -->
      </div>
    </div>
    <div class="centerslide">
          <div class="card-scroller">
            <div class="card">
              <%= image_tag 'nai.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Torchon de cuisine un motif</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'heart.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Lingettes démaquillantes double faces coton bio/liberty avec ou sans pochettes de rangement</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'cruz.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Motif logo monté dans un cadre tambour pour déco murale</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'k.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Broderie de coussin motif et Monogramme</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'louise1.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Prenom de bébé monté dans un cadre tambour pour déco murale</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'hat.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Casquette blanche avec motif</p></div>
                </div>
            </div>
          </div>
        </div>
  </div>
</div>

<script>
function hoverImage(x) {
 x = document.querySelector('.text')
 x.style.visibility = 'visible';
}
</script>


