<div class="container">
  <div class="broderie-page">
    <div class="broderie">
      <div class="image">
      <%= image_tag 'num.png', width: '100%;', class:'num'%>
      </div>
      <p>La broderie, c’est la transformation d’une image, texte, logo en points de broderie lus par la machine. Ainsi numérisé et lu par votre brodeuse, ce dessin, texte ou logo, peut être brodé sur le support de votre choix, moyennant quelques petites étapes supplémentaires.
       <br><br>
        On peut broder sur beaucoup de supports, tissu, simili cuir, laine, et même basquettes...certains sont plus difficiles que d’autres.</p>
    </div>
    <div class="howto">
      <p>Je peux vous fournir si vous le désirez un certain nombre d’articles à broder tels que T-Shirt, casquettes, vestes, linge de maison, articles pour bébés, etc..pour vous aider dans votre démarche de broderie, ce sera à m’indiquer lors de votre commande.</p>
      <p>Pour toute demande de broderie je vous enverrai un devis qui prendra en compte les diverses étapes de ce processus, le nombre de points de la broderie, ainsi que le nombre de pièces à broder. Le tarif se décompose ainsi :</p>
      <div class="tarif">
        <ul>
          <li><p>La numérisation du motif  - moment ou le motif est transformé en points de broderie - le prix varie en fonction de la taille et complexité du motif. Un motif peut être numérisé en plusieurs tailles, en fonction du support à broder (casquettes, t-shirt, veste, etc…) Bien sûr, si le motif est déjà fourni par vos soins, il ne sera pas comptabilisé.</p></li>
          <li><p>Le nombre de points de la broderie, je compte 1 Euro pour 1000 points, sauf pour la broderie de nom et prénoms ou le tarif est de 5 euros par nom.</p></li>
          <li><p>Le coût des fournitures (fils, support, cadre) - le calcul est basé sur les matériaux utilisés et le nombre de points</p></li>
          <li><p>Le nombre d’objets à broder. Le tarif est dégressif pour 10 objets ou plus.</p></li>
          <li><p>En exemple une broderie de grande dimension (13cms sur 18 cm), dont le motif est fourni, en 6 couleurs comprenant 50000 points, coûtera 51,06 Euros HT. </p></li>
          <li><p><i>Pour certains articles comme les casquettes, chaussettes ou certains vêtements pour bébés en toute petite taille qui nécessitent des cadres particuliers des frais de cadrage de 5 euros seront ajoutés à l'ensemble du devis quelque soit le nombre d’articles.</i></p></li>
        </ul>
        <video width='350px' height='600px'controls autoplay muted>
          <source src="/assets/IMG_2890.mp4"/>Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="centerslide">
          <div class="card-scroller">
            <div class="card">
              <%= image_tag 'nai.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Torchon de cuisine un motif</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'heart.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Lingettes démaquillantes double faces coton bio/liberty avec ou sans pochettes de rangement</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'cruz.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Motif logo monté dans un cadre tambour pour déco murale</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'k.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Broderie de coussin motif et Monogramme</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'louise1.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Prenom de bébé monté dans un cadre tambour pour déco murale</p></div>
                </div>
            </div>
            <div class="card">

              <%= image_tag 'hat.jpeg', class:'imagescroll', height:'300px' %>
                <div class="text">
                  <div class="t"><p>Casquette blanche avec motif</p></div>
                </div>
            </div>
          </div>
        </div>
  </div>
</div>

<script>
function hoverImage(x) {
 x = document.querySelector('.text')
 x.style.visibility = 'visible';
}
</script>


