<% content_for :nav, render('components/navhome') %>
<div class="container">
  <div class="grid">
    <div class="photo">
      <%= image_tag 'brode2.png' %>
    </div>
      <%= inline_svg_tag '53.svg', class:'star star1' %>
      <%= inline_svg_tag '53.svg', class:'starout star2' %>
      <%= inline_svg_tag '53.svg', class:'starout star3' %>
      <%= inline_svg_tag '53.svg', class:'star star4' %>
    <div class="home-nav">
      <%= inline_svg_tag '5.svg', class:'swiggy-one' %>
      <ul>
        <li class="home-nav-item">
          <%= link_to "Broderie", "/broderie", class: "home-nav-link" %>
        </li>
        <li class="home-nav-item">
          <%= link_to "Tapisserie", "/tapisserie", class: "home-nav-link-alt" %>
        </li>
        <li class="home-nav-item">
          <%= link_to "A Propos", "/apropos", class: "home-nav-link" %>
        </li>
        <li class="home-nav-item">
          <%= link_to "Contact", "/contact", class: "home-nav-link-alt" %>
        </li>
      </ul>
      <%= inline_svg_tag '5.svg', class:'swiggy' %>
    </div>
  </div>
</div>
